.filtersContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  width: 250px;
}

.filterPrice,
.filterCategory {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.filterPrice label,
.filterCategory label {
  padding: .2rem;
}